/* Left-align figure captions */
.figure-caption, 
.caption,
figcaption {
  text-align: left !important;
}

/* Additional specificity for Quarto figure captions */
.quarto-figure .figure-caption,
.quarto-figure figcaption {
  text-align: left !important;
}

/* For Python/Plotly figure captions without labels */
.quarto-figure-center > figcaption,
.quarto-figure > figcaption,
figure > figcaption,
.figure > .caption {
  text-align: left !important;
}

/* Override any center alignment on figure containers */
.quarto-figure-center {
  text-align: left !important;
}
.quarto-figure-center > p {
  text-align: left !important;
}

/* Make Plotly figures responsive and fill horizontal space */
.plotly {
  width: 100% !important;
  height: auto !important;
}

.plotly .plotly-graph-div {
  width: 100% !important;
  height: auto !important;
}

/* For code block captions */
.code-caption {
  text-align: left !important;
}

/* Hide the book title on the index/home page */
#quarto-document-content > header > h1.title {
  display: none !important;
}

/* Alternative selectors for hiding title */
.quarto-title-block .title {
  display: none !important;
}

header#title-block-header h1.title {
  display: none !important;
}
